* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #F7F7F7;
}

/*nav bar */
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
    font-family: 'century gothic';
	padding: 0 5%;
	height: 70px;
	background-color: white;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
    color:#404040;
    font-family: 'Patrick Hand', cursive;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color:#404040;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #242D43;
	margin: 5px;
	border-radius: 3px;
    transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: scroll;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}

/* homepage */ 

#homepageimg{
    margin-top: 5%;
    width: 100%;
    height: auto;
    padding-right: 5%;
    padding-left: 5%;
}

#home-page-text{
    display: flex;
    font-family: 'Patrick Hand', cursive;
    margin-top: 3%;
    font-size:  200%;
    justify-content: center
}


/* trust badge section styling */

#trust-badge {
    height: 100%;
    width: 100%;
    margin-top: 2%;
    display: flex;
    padding-left: 7%;
}

.trust-img{
    width: 23%;
}


.trust-text{
    font-family: 'century gothic';
    font-size: medium;
}



/* product section styling */

#product-feed {
    height: 100%;
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 5%;
    padding-left: 5%;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-top: 10px;
    font-family: 'century gothic';
    color:white;
    font-weight: bold;
    width: 600px;
}

#prod-1{
    background-image: url(img/pexels-engin-akyurt-1435904.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-2{
    background-image: url(img/pexels-irina-iriser-1005711.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-3{
    background-image: url(img/pexels-pixabay-326082.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-4{
    background-image: url(img/pexels-fox-212324.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-5{
    background-image: url(img/pexels-iconcom-231019.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-6{
    background-image: url(img/gardening-tools-on-wooden-background-flat-lay-PSS7H7Q-1024x765.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-7{
    background-image: url(img/pexels-alleksana-4113887.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-8{
    background-image: url(img/pexels-olga-1153655.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-9{
    background-image: url(img/ZSS132_Sprouting_Broccoli_Seeds_11_1024x1024.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-10{
    background-image: url(img/pexels-shrutika-gupta-6330448.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-11{
    background-image: url(img/stock-flowers.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

#prod-12{
    background-image: url(img/Utah-gardening-supplies.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}


.prod-text{
    opacity: 1.5;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}


/* mission staement section */ 


#sec-mission-statment {
    margin-top: 7%;
}


.mission-statment-1{
    height: auto;
    width: 95%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mission-img-1{
    width: 50%;
}

.div-mission-1{
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.mission-statment-text-1{
    font-family: 'Patrick Hand', cursive;
    font-size: xx-large;
    padding-top: 5%;
    text-align: center;
}

.mission-statment-text-2{
    padding-top: 5%;
    font-family: 'century gothic';
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
}

.button {
    background-color:white;
    border: 4px solid #404040 ;
    border-radius: 30px;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 25px 2px;
    cursor: pointer;
    font-family: 'century gothic';
    font-weight: bold;
}


/* mission statment media query for desktop */

@media screen and (min-width: 768px){
    #sec-mission-statment{
        display: flex;
        align-items: baseline;
    }
/* I know it's not in the xd example file but I like the look and feel of this layout better */
}


/* instagram section */



#instagram {
    height: auto;
}

.insta-div{
    padding-bottom: 2%;

}

.insta-imgs{
    width: 11%;
    margin-left: 7%;
}

#insta-text{
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 5%;
}

/* footer section */

#footer{
    width: 100%;
    background-color: #242D43;
    display: flex;
    justify-content: space-evenly;
    padding: 70px 10px;
    flex-wrap: wrap;
}


.footer-text-1{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: larger;
    display: block;
    padding-bottom: 12%;
}

.footer-text-2{
    color: white;
    font-family: 'century gothic';
    font-size: medium;
    display: block;
    padding-bottom: 9%;
}

.footer-text-3{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
}